*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(blue, rgb(1, 1, 112));
}
#calculadora{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#calculadora #resultado{
    display: block;
    text-align: right;
    height: 80px;
    font-size: 2rem;
    border: 2px solid transparent;
    background-color: rgb(241, 238, 238);
    color: blue;
    padding: 0rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#conteiner-button{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
button{
    font-size: 3rem;
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
    border: 2px solid transparent;
    color: blue;
    background-color: rgb(241, 238, 238);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
button:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: 0.2s;
}
.btn-operador{
    background-image: linear-gradient(blue, rgb(2, 2, 156));
    border: none;
    color: white;
    font-weight: bold;
}
.btn-operador:hover{
    font-size: 3.8rem;
}
#btn-limpar{
    background-image: linear-gradient(blue, rgb(2, 2, 156));
    color: white;
    border: none;
    width: 1260px;
    transition: 0.4s;
}
#btn-limpar:hover{
    transition: 0.4s;
}
#btn-resultado{
    background-image: linear-gradient(blue, rgb(2, 2, 156));
    border: none;
    color: white;
}
#calculadora .row1, .row2, .row3, .row4, .row5{
    display: flex;
    gap: 0.5rem;
    height: 80px;
    flex-direction: row;
}